@charset 'UTF-8';

body{
	background: #111;
	font-family: Impact, DejaVu Serif;
	font-size: 1em;
}

p {
background: #FF9100;
border: 5px solid black;
color: #fff;
}

h1 {
background: #fff;
}

.col-left, .col-center, .col-right {
background-color: #ccc;
}

div{
	border: 5px solid #FF9100;
}